<%- include("header") -%>

<body>

    <div >
        <h2 class="date"> Aujourd'hui nous sommes le <%= todayDate %></h2>
    </div>

    <p style="text-align: center";>Selectionner une liste</p>

        <div style="text-align: center">
            <a href="/" >Pour la maison</a>
            <a href="/work">Pour le travail</a>
        </div>
 

    <div class="box" id="heading">
        <h1>A faire ce jour</h1>
        <h2> <%= listTitle %></h2>
    </div>

    <div class="box">
        <div>
            <% for(i=0; i <newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i]; %></p>
                    <!-- <button type="submit" class="btn btn-outline-danger" name="delete">delete</button> -->
                </div>
            <% } %>

            <form action="/" method="POST">
                <input type="text" name="newItem" placeholder="Ajouter à ma liste" autocomplete="off">
                <button class="add" type="submit" name="list" value=<%= listTitle %>>+</button>
            </form> 
                
        </div>
    </div>
    <%- include("footer") -%>
</body>
</html>